{% extends 'baselogged.html' %}
{% load staticfiles %}
{% block bodycontent%}
<div class="main">

    <div class="section" style="background:url('{% static 'img/updateprofile.png' %}') no-repeat; margin-top:75px; height:100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;">
        <div class="container">
<br>
            <div class="row justify-content-start" style="color:white;">
                <div style="margin-bottom:80px;"><br>
                    <form method="post">
  {% csrf_token %}
 <b> {{ form }}</b><br><br>
  <button type="submit" class="btn btn-success btn-round btn-md col-md-4">Save changes</button>
</form>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}