{% extends 'baselogged.html' %}
{% load staticfiles %}

{% block bodycontent %}
{% if user.is_superuser %}
Hello admin
<hr>
<h1>Posts to be Reviewed</h1>
{% for each in post_review_list %}
<br><a href="{% url 'review_post_detail' pk=each.id %}"><b>{{ each.title}}</b></a> <a href="{% url 'userprofile' pk=each.author.id %}">{{each.author}}</a> {{each.date}} {{each.no_of_like}} {{each.no_of_comment}}<br>
{% endfor %}
<h1>Posts</h1>
{% for each in post_list %}
<br><a href="{% url 'post_detail' pk=each.id %}"><b>{{ each.title}}</b></a> <a href="{% url 'userprofile' pk=each.author.id %}">{{each.author}}</a> {{each.date}} {{each.no_of_like}} {{each.no_of_comment}}
{% endfor %}
<br>
<h1>Categories</h1>
{% for category in category_list %}
<hr>
<img src="{{category.category_image.url}}">
<h3>{{ category.name}}</h3>
<h5>{{ category.no_of_post }}</h5>
{% endfor %}


{% else %}
<h1 style="color:red;">Permission Denied</h1>
{% endif %}
{% endblock %}