{% extends 'baselogged.html' %}
{% load staticfiles %}

{% block bodycontent %}

Hello {{user}}<br>
{% for each in usercontext %}
<a href="{% url 'userprofile' pk=each.id %}"> <button>View my Profile</button></a>
<a href="{% url 'updateprofile' pk=each.id %}"><button>Update my Profile</button></a>{% endfor %}
<a href="{% url 'post_add' %}"><button>Create New Post</button></a>
<a href="{% url 'my_validation_list' %}"><button>View My Posts</button></a>
<!--side bar-->
<h1>Categories</h1>
{% for category in category_list %}
<hr>
<img src="{{category.category_image.url}}">
<h3><a href="{% url 'category_listing' pk=category.id %}" >{{ category.name}}</a></h3>
{% endfor %}
<hr>
<!--sidebar-->
<h1>My Posts</h1>
{% for mypost in my_post_list %}
<br><a href="{% url 'post_detail' pk=mypost.id %}"><h3>{{ mypost.title}}</h3></a>
{% endfor %}
<hr>

<h1>Top Posts</h1>
{% for post in post_list %}
<hr>
<a href="{% url 'post_detail' pk=post.id %}"><h3>{{ post.title}}</h3></a>
<img src="{{post.image.url}}">
<h5>{{ post.caption}}</h5>
    By <a href="{% url 'userprofile' pk=post.author.id %}">{{post.author}}</a>

{% endfor %}


{% endblock %}