{% extends 'baselogged.html' %}
{% load staticfiles %}
{% block headcontent %}
<style>
.containerimg {
  position: relative;
  width: 12em;
}

.image {
  display: block;
  height:10em;
  width:12em;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.containerimg:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
</style>
{% endblock %}
{%block navigation1%}

<li class="nav-item">
    <a href="{% url 'userprofile' pk=user.id %}" class="nav-link">Hello {{user}}</a>
</li>
{%endblock%}
{% block bodycontent %}
<div class="main">
			<div class="section text-center" style="background-color:#264b56; width:100%;" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 ml-auto mr-auto">
                        <h2 class="title" style="color:#ffffff;">Welcome {{user}}!!!</h2>
                        <h5 class="description" style="color:#cccccc;">Thank you so much for being a part of the Nepali Writers team and sharing up your creativity and knowledge through our platform.<br><br>Keep posting and reading new blogs and encourage more people to get involved. <br>
                        Uniting Nepalese for Creativity</h5>
                        <br>
                        <button class="btn btn-danger btn-round">Get Started</button>
                    </div>
                </div>
				<br/><br/>
				<div class="row">
					<div class="col-md-3">
						<div class="info">
							<div class="icon icon-danger">
                                <a href="{% url 'post_add' %}"><i class="nc-icon nc-simple-add"></i></a>
							</div>
							<div class="description">
                                <a href="{% url 'post_add' %}"><h4 class="info-title" style="color:#ffffff;" >Add New Post</h4></a><br>
								<p class="description" style="color:#cccccc;"> Share your latest post and gain feedbacks.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="info">
							<div class="icon icon-danger">
                                <a href="{% url 'userprofile' pk=user.id %}"><i class="nc-icon nc-satisfied"></i></a>
							</div>
							<div class="description">
                                <a href="{% url 'userprofile' pk=user.id %}"> <h4 class="info-title" style="color:#ffffff;">My Profile</h4></a><br>
								<p class="description" style="color:#cccccc;">Visit your profile and see it from others perspective.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="info">
							<div class="icon icon-danger">
                                <a href="{% url 'updateprofile' pk=user.id %}"><i class="nc-icon nc-settings"></i></a>
							</div>
							<div class="description">
                                <a href="{% url 'updateprofile' pk=user.id %}"><h4 class="info-title" style="color:#ffffff;">Update Profile</h4></a><br>
								<p class="description" style="color:#cccccc;">Edit your portfolio and change your profile picture :)</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="info">
							<div class="icon icon-danger">
                               <a href="{% url 'my_validation_list' pk=user.id%}"><i class="nc-icon nc-satisfied"></i></a>
							</div>
							<div class="description">
                                <a href="{% url 'my_validation_list' pk=user.id%}"><h4 class="info-title" style="color:#ffffff;">My Posts</h4></a><br>
								<p class="description" style="color:#cccccc;">Review your posts and see the audiences it has gathered.</p>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    <div class="page-header"  style="background-image: url('{% static 'img/Productivity.png' %}');">
		<div class="filter"></div>
		<div class="container">
			<div class="motto text-center" style="margin-bottom:50px;">
                <div class="row justify-content-center">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="title">Categories</h1>
                    </div>
                </div>

				<div class="row justify-content-center">
                    {% for category in category_list %}
					<div class="col-md-3">
						<div class="info">
							<div class="description">
                                <div class="content-center">
                                    <a href="{% url 'category_listing' pk=category.id %}" ><img src="{{category.category_image.url}}" style="height:11em; width:10em;" class="img-circle img-no-padding img-responsive"></a></div>
                                <h3><a href="{% url 'category_listing' pk=category.id %}" ><strong  style="color:#ed5c1a;">{{ category.name}}</strong></a></h3>

							</div>
						</div>
					</div>
                    {% endfor %}
				</div>
			</div>

            </div>
	</div>


<div class="section text-center" style="background-color:#222222; width:100%;">
	<div class="header">
	<h1 style="color:#eeeeee; margin-bottom:35px;">Top Posts</h1>
	</div>
<div class="container">
	<div class="row justify-content-center">
	{% for post in post_list %}
	<div class="containerimg">
		<a href="{% url 'post_detail' pk=post.id %}"><img src="{{post.image.url}}"  alt="Avatar" class="image"></a>
		<a href="{% url 'post_detail' pk=post.id %}"><div class="overlay">
			<div class="text">{{post.title}}</div>
  		</div></a>
	</div>&nbsp;&nbsp;&nbsp;
{% endfor %}
</div>
</div>
</div>


{% endblock %}