{% extends 'baselogged.html' %}
{% load staticfiles %}

{% block bodycontent %}
<!--side bar-->
<h1>Categories</h1>
{% for category in category_list %}
<hr>
<h3><a href="{% url 'category_listing' pk=category.id %}" >{{ category.name}}</a></h3>
{% endfor %}

<!--sidebar-->
<h1>My Posts</h1>
{% for mypost in my_post_list %}
<a href="{% url 'post_detail' pk=mypost.id %}"><h3>{{ mypost.title}}</h3></a>
{% endfor %}
<br>

<h1>{{post.title}}</h1><hr>
<i>{{post.caption}}</i><br>
<img src="{{post.image.url}}">
<h3>By : <a href="{% url 'userprofile' pk=post.author.id %}">{{post.author}}</a></h3><br>
{{post.date}}  {{post.category}}
<h4><strong>{{post.no_of_like}} Likes <br> {{post.no_of_comment}} Comments</strong></h4>
<pre><p>{{post.description}}</p></pre>
{% if user.is_authenticated %}
{% if post.author.username == user.username %}
<a href="{% url 'update_post' pk=post.id %}"><button> Update Post </button></a>
<a href="{% url 'delete_post' pk=post.id %}"><button> Delete Post </button></a>
{% endif %}
{% if message %}
<a href="{% url 'unlike_post' pk=post.id %}"><button>Unlike</button></a>
{% else %}
<a href="{% url 'like_post' pk=post.id %}"><button>Like</button></a>
{% endif %}
<button>Comment</button>
<button>Share</button><br>
{% else %}
<h4>Please Login to your account to Like, Comment or Share this Post.</h4>
<a href="{% url 'login' %}"><button>Sign In</button></a>
{% endif %}

{% if comment_list %}
 <h5 style="text-align:center;">Recent Comments</h5><br>
{% for comment in comment_list %}
<a href="{% url 'userprofile' pk=comment.commentor.id %}">{{ comment.commentor }}</a>
{{ comment.comment }}
{{ comment.time }}
{% endfor %}
{% else %}
No comments found for this post. Be the first one to comment!
{% endif %}
<form action="{% url 'post_comment' pk=post.id %}" method="GET" enctype="multipart/form-data" style="text-align:center;" id="commentform">
        {% csrf_token %}
            <div class="input-group form-group-no-border input-md col-md-12 ">
                <span class="input"><h5>Comment:</h5></span>&nbsp;&nbsp;&nbsp;
                <textarea rows="5" cols="100" name="comment"  placeholder="Enter text here..." class="form-control"></textarea>
            </div>
                    <button type="submit" class="btn btn-success btn-round">Comment</button>

        </form>
{% endblock %}
